* {
    box-sizing: border-box;
}

body {
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game {
    position: relative;
    display: inline-grid;
    background: black;
}

.game-status {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 5px darkblue solid;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 5px darkblue solid;
    background: black;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#start-button {
    margin-top: 20px;
}

.hide {
    display: none;
}

.square {
    display: block;
}

.blank {
    background: black;
}

.platform {
    background: url("img/platform.png") 0 0;
}

.ladder {
    background: url("img/ladder.png") 0 0;
}

/*------------------------------BARREL------------------------------*/

.barrel {
    background-image: url("./img/sprite.png");
    display: block;
    position: absolute;
}

.barrel.stands {
    width: 14px !important;
    height: 16px !important;
    background-position: -111px -264px;
    position: relative;
}

.barrel.vertical {
    width: 15px;
    height: 10px;
    background-position: -96px -259px;
}

.barrel.vertical.move1 {
    background-position: -96px -259px;
}

.barrel.vertical.move2 {
    background-position: -96px -270px;
}

.barrel.horizontal {
    width: 12px;
    height: 10px;
}

.barrel.horizontal.move1 {
    background-position: -66px -258px;
}

.barrel.horizontal.move2 {
    background-position: -81px -258px;
}

.barrel.horizontal.move3 {
    background-position: -81px -270px;
}

.barrel.horizontal.move4 {
    background-position: -66px -270px;
}

.barrel.explode, .barrel.explode.one {
    width: 36px;
    height: 36px;
    background: url("img/explosion.png") 0 -11px;
}

.barrel.explode.two {
    width: 44px;
    height: 47px;
    background: url("img/explosion.png") -41px -7px;
}

.barrel.explode.three {
    width: 56px;
    height: 55px;
    background: url("img/explosion.png") -90px -4px;
}

.barrel.explode.four {
    width: 63px;
    height: 67px;
    background: url("img/explosion.png") -153px 7px;
}

.barrel.explode.five {
    width: 50px;
    height: 24px;
    background: url("img/explosion.png") -224px -25px;
}

/*------------------------------BARREL END------------------------------*/

/*------------------------------MARIO------------------------------*/

#mario {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("img/sprite.png");
}

.right {
    background-position: -158px -3px;
}

.right.move1 {
    background-position: -176px -4px;
}

.right.move2 {
    background-position: -197px -3px;
}

.left {
    background-position: -135px -3px;
}

.left.move1 {
    background-position: -115px -4px;
}

.left.move2 {
    background-position: -94px -3px;
}

.vertical {
    background-position: -94px -3px;
}

.vertical.move1 {
    background-position: -166px -23px;
}

.vertical.move2 {
    background-position: -125px -23px;
}

.fall.left {
    background-position: -73px -107px;
}

.fall.top {
    background-position: -93px -107px;
}

.fall.right {
    background-position: -113px -107px;
}

.fall.bottom {
    background-position: -132px -107px;
}

/*------------------------------MARIO END------------------------------*/


/*------------------------------DONKEY------------------------------*/

#donkey {
    position: absolute;
    width: 47px;
    height: 32px;
    background: url("img/sprite.png") -107px -152px;
}

.donkeyAngry.one {
    background-position: -154px -187px !important;
}

.donkeyAngry.two {
    background-position: -201px -187px !important;
}

.donkeyAngry.three {
    background-position: -254px -187px !important;
}

.donkeyPrepare.one {
    background-position: -202px -152px !important;
}

.donkeyPrepare.two {
    background-position: -57px -152px !important;
}

.donkeyNewBarrel.take {
    background-position: -9px -152px !important;
}

.donkeyNewBarrel.have {
    background-position: -157px -152px !important;
}

/*------------------------------DONKEY END------------------------------*/

/*------------------------------PRINCESS------------------------------*/

#princess {
    position: absolute;
    width: 15px;
    height: 22px;
    background-image: url("img/sprite.png");
    background-position: -158px -126px;
}

#princess.first {
    background-position: -158px -126px;
}

#princess.second {
    background-position: -184px -126px !important;
}

/*------------------------------PRINCESS END------------------------------*/
